/* TabStore
 * Copyright (C) 2019  Dakota Walsh
 */

 * {
	box-sizing: border-box;
 }

html, body {
	color: #333;
	background-color: #fefefe;
}

.content {
	display: flex;
	flex-wrap: wrap;
}

.section-tab {
	position: absolute;
	opacity: 0;
}

.panel {
	padding: 10px 25px;
	width: 100%;
	text-align: center;
	order: 99;
	display: none;
	background-color: #fefefe;
}

.section-tab:checked + .tab-label + .panel {
	display: block;
}

.tab-label {
	width: 50%;
	padding: 10px;
	color: #333;
	background-color: #eee;
	text-align: center;
	cursor: pointer;
}

.tab-label:hover {
	background-color: #e0e0e0;
	color: #07a;
}

.section-tab:checked + .tab-label {
	background-color: #fefefe;
	color: #666;
	cursor: default;
}

.list {
	margin: 10px 0;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	cursor: default;
}

.list input {
	cursor: pointer;
	margin: 2px;
	vertical-align: text-bottom;
}

.load-list-item {
	color: #07a;
	cursor: pointer;
	text-decoration: underline;
}

.load-list-item:hover {
	background-color: #eee;
}

.load-list-item:active {
	background-color: #e0e0e0;
}

.button {
	margin: 10px auto;
	padding: 10px;
	border-radius: 3px;
	cursor: pointer;
	background-color: #eee;
	color: #333;
	font-size: 1.3em;
	text-align: center;
}

.button.small {
	width: 40%;
	padding: 8px;
	font-size: 1em;
}

.button:hover {
	color: #07a;
	background-color: #e5e5e5;
}

#file-name {
	color: #000;
	background-color: #ccc;
	border: none;
	border-radius: 3px;
	padding: 8px;
	margin: 5px auto;
	width: 90%;
}

::-moz-selection {
	background-color: #07a;
	color: #e0e0e0;
}

.hidden {
	display: none;
}
